HOMEWORK 1

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero= 10
print(numero)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
NUMEROCONSTANTE= 8.5
print(type(NUMEROCONSTANTE))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "ana"

5) Crear una variable que contenga un número complejo

In [5]:
c1= 5 + 6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(c1)
print(type(c1))

(5+6j)
<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [21]:
pi= 3.141592
print(pi)
round(pi,4)

3.141592

3.1416

In [28]:
import math

x= math.pi

print(x)
round(x,4)

3.141592653589793

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
variable1= True
variable2= "true"

<class 'bool'>
<class 'str'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [29]:
print(type(variable1))
print(type(variable2))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [30]:
a= 5.2 + 4

11) Realizar una operación de suma de números complejos

In [31]:
a= 3 + 1j
b= 1 + 3j
print(a + b)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
c2= (2 + 2j)
c3 = (3 + 3j )
print(c2+c3)

(5+5j)

13) Realizar una operación de multiplicación

In [12]:
numero1 = 2
numero2= 3
print(numero1 * numero2)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
numero3= 2**8
print(numero3)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
numero4= (27/4)
print(numero4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
numero5= (27//4)
print(numero5)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
numero6= (27%4)
print(numero6)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
numero7 = 4 * numero5 + numero6
print(numero7)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
var1= "hola"
var2= "2"
print(var1 + var2)

hola2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [37]:
str(2)== "2"

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [39]:
a= float("3.8")
a

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [40]:
a = 3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [41]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [42]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [43]:
var1= "este texto se repite"
var2= 3
print(var1 * var2 + str(var2) + "veces")

este texto se repiteeste texto se repiteeste texto se repite3veces